<div class="large-6 columns">
  <h2>Details</h2>
  <p>
    Added: <%= @recipe.created_at %>
  </p>
  <p>
    Last Updated: <%= @recipe.updated_at %>
  </p>
  <p>
    Beer Type: <%= @recipe.beer_type %>
  </p>
</div>

<div class="large-6 columns">
  <h2>Description</h2>
  <div class="details" id="details">
    <%= @recipe.description %>
  </div>
</div>
