<h1>Your Recipes</h1>

<div class="container">
  <%= link_to "Add New Recipe", new_recipe_path %>
</div>

<div class="container">
  <% if @recipes.empty? %>
    No recipes yet!
    <% else %>
      <div id="menu">
        <% @recipes.each do |recipe| %>
          <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        <% end %>
      </div>
  <% end %>

  <% if current_user.admin? %>
  <h1>All Recipes in App</h1>
    <% if @admin_recipes.empty? %>
      No users have submitted recipes yet!
      <% else %>
        <div id="menu">
          <% @admin_recipes.each do |recipe| %>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
          <% end %>
        </div>
    <% end %>
  <% end %>

</div>
