<h1>About</h1>
<p>
  I'm a homebrewer who also happens to be a web developer.

  This app is a representation of all the things I and my homebrewing friends thought was missing from alternatives.

  Sick of using spreadsheets or outdated applications, I figured why not build it myself?
</p>

<div class="container">
  <p>
    <h3>You can find me in these places:</h3>
    <p>
      <a href="https://twitter.com/masalisbury" class="twitter-follow-button" data-show-count="false">Follow @masalisbury</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>

    <p>
      <a class="github-button" href="https://github.com/salisbum" data-style="mega" aria-label="Follow @salisbum on GitHub">Follow @salisbum</a>
    </p>

    <p>
      <a href="https://www.linkedin.com/pub/megan-salisbury/25/a73/583">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Megan Salisbury's profile on LinkedIn">
      </a>
    </p>
  </p>
</div>



<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
