<div class="static-page brewbies">
  <h1 class="row static-header">
    <div class="small-6 large-centered columns">
      New Brewers
    </div>
  </h1>

  <div class="row">
    <p>
      Homebrewing is the process of brewing your own beer for personal consumption. Be it because you want to save money, have a specific preference, or want to experiment and have fun!
    </p>

    <p>
      Most homebrewers make about 5 gallons worth of beer, but the majority of recipes can be easily scaled for quantities ranging from 1-5+ gallons, the limit being primarily your equipment.
    </p>

    <p>
      Extract-Only: Brewing with malt extracts, which are like thick syrups. You can also find hops extracts, though many extract-only brewers tend to prefer hops pellets. Many starter kits are extract-only.
    </p>

    <p>
      Partial Mash: Brewing with some extract, some grain. This gives you a bit more control over the malt components of the brew, is more involved, but still accessible to new brewers.
    </p>

    <p>
      All Grain: This style of brewing uses no extracts, just grain, and requires a different equipment setup compared to extract-only and partial mash. This is more difficult, but highly customizeable.
    </p>
  </div>

  <div class="row">
    <h3 id="sub-header">
      <div class="small-6 large-centered columns">
        The Process
      </div>
    </h3>
    <ol>
      <li>Pick a recipe</li>
      <li>Buy your ingredients</li>
      <li>Make your "wort" - a tea of the initial ingredients</li>
      <li>During the boil, add your hops at designated intervals</li>
      <li>Cool it down, transfer to fermentation bucket</li>
      <li>Pitch your yeast</li>
      <li>Wait ~2 weeks</li>
      <li>Filter to bottling bucket</li>
      <li>Bottle in your preferred bottles</li>
      <li>Wait another ~2 weeks</li>
      <li>Enjoy!</li>
    </ol>
  </div>

  <div class="row">
    <h3 id="sub-header">
      <div class="small-6 large-centered columns">
        More Resources
      </div>
    </h3>

    <div class="row", id="recipe-list">
      <div class="small-11 small-centered columns", id="recipe-title">
          <a href="http://www.amazon.com/Complete-Joy-Homebrewing-Fourth-Revised/dp/0062215752" class="link-thick">The Complete Joy of Homebrewing</a>: This is a great book that introduces you to the history of beer, how to homebrew, and has a collection of recipes.
      </div>
    </div>
    <div class="row", id="recipe-list">
      <div class="small-11 small-centered columns", id="recipe-title">
        <a href="http://www.amazon.com/True-Brews-Craft-Fermented-Kombucha/dp/1607743388/" class="link-thick">True Brews</a>: This is a great primer on all things fermentation, including homebrewing. Great for small scale brewing (1-3gal).      </div>
    </div>
  </div>
</div>
