<div class="row static-page">
  <h1 class="static-header">
    <div class="small-6 large-centered columns">
      <%= current_user.profile.brewop_name %>
    </div>
  </h1>

<div class="row stats">  
  Recipes: <%= current_user.recipes.count %>
</div>

  <div class="row">
    <h3 id="sub-header">
      <div class="small-6 large-centered columns">
        Activity
      </div>
    </h3>
  </div>
</div>
