#centre-loggedin {
  padding-top: 6%;
}

#centre-loggedout {
  padding-top: 17%;
}

.notice {
  margin-bottom: 0;
  text-align: center;
  height: 10%;
}

.alert {
  margin-bottom: 0;
  text-align: center;
  height: 10%;
}


.footer {
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  }
