@import 'settings';
@import 'foundation';

#new-recipe {
  text-align: center;
  padding-top: 1%;
}

#recipe-list {
  border: 1px solid $primary;
  margin-bottom: 10px;
  padding: 1%;
}

#recipe-title {
  padding-top: 1%;
  margin-bottom: 0;
}

.all_comments {
  margin-bottom: 10%;
}

.recipe-title {
  margin-bottom: 5%;
}

.notes {
  word-wrap: break-word;
}
