@import 'settings';
@import 'foundation';

.home-header {
  text-align: center;
  padding-top: 5%;
  color: map-get($foundation-palette, success);
}

.static-header {
  text-align: center;
  padding-top: 5%;
}

.static-text {
  text-align: center;
}

#sub-header {
  text-align: center;
  padding-top: 2%;
}

.brewbies {
  padding-bottom: 10%;
}
