/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import 'settings';
 @import 'foundation';

.primary-layout {
  @import "components/_primary-layout";
}

.static-page {
  @import "components/_static-page";
}

.recipes {
  @import "components/_recipes";
}

.link-thick {
  font-weight: bold;
}

.background {
  background-image: url("background_image_brewop.jpg");
  width: 100%;
  height: 85%;
  position: absolute;
  margin: 0;

 .custom-forms {
   @import "components/_custom-forms";
 }

.row {
  padding-bottom: 5%;
}

.new-resource {
  padding-top: 2%;
  margin-bottom: 0;
}
